//Fonts
$font-stack: 'Fjalla One', sans-serif;

//colors
$white: #ffffff;
$orange : #AA4400;
$black : black;
//Numbers
$number0 : 0em;
$number1: 40px;
$number2: 70vh;
$number3: 1.5em;
$number4: 10vh;
$number5: 2em;
$number6 : 6em;
$number7: 1.4em;
//Positions
$top: top;
$center : center;
//urlFiles
$urlImage : '../img/home_bg.jpg';
$urlImageFeaturedProducts : '../img/home_banner.jpg';


//display
$none :none;

html {
box-sizing: border-box;
margin: 0 auto;

}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  background-color:  $white;
}
/* Header */
.content-header{
  padding-top: $number1;
}
.hero{
  background-image: url($urlImage);
  height: $number2;
  background-position: $top $center;
  background-size: cover;
  font-family: $font-stack;

}
.menu_options{
  text-align: $center;
  a{
    color: $white;
    font-size: $number3;
    margin-right: $number4;
  }
}
#logo{
  width: 8em;
}
.event-slogan{
  text-align: $center;
  color: $white;
  margin-top: 3em;;

  .slogan{
    margin-top: $number0;
    padding-bottom: $number0;
    font-weight: bold;
    font-size: $number3 * 2;
  }
}
@media only screen and (max-width: 880px) {
 .header-medium {
    display: $none !important;
 }

}
@media only screen and (max-width: 2560px) and (min-width: 881px) {
  .header-small{
    display : none !important;
  }

}
//featured-products
.featured-products{
  background-image: url($urlImageFeaturedProducts);
  height: $number2 /4;
  background-position: $top $center;
  background-size: cover;
  font-family: $font-stack;
  h2{
    color: $white;
    text-transform: uppercase;
    text-align: center;
    margin-top: $number5;

  }


}
//carousel
.carousel{
  height: 50vh;
  margin-top: $number3*3;
}
.imgCarousel{
  margin-top: $number3;
}
.slide{
  width: $number5;
  margin-right:  $number6;
}
.slide-left{
  width: $number5;
  margin-right:  $number6;
  margin-left:   $number6;
}
.description{
  font-size: $number7;
}
.buttonBuy{
  font-family: $font-stack;
  color: $white;
  font-size: $number7;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: 2px solid $black;
  color: $black;
}
